<head>
    <link rel="stylesheet" href="style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <script src="/js/jquery.js"></script>

    <script src="/js/tinymce/tinymce.min.js"></script>

</head>



<div class="container">
    <header class="header">

        <a href="index.html">
            <img src="logotipo.png" class="logo-header" />
        </a>

        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/" class="">Home</a>
                </li>
                <li>
                    <a href="/about" class="">About</a>
                </li>
                <li>
                    <a href="/contact" class="">Contato</a>
                </li>
            </ul>
        </nav>

        <div class="header__button">
            <button class="searchButton" aria-expanded="false">
                Pesquisar
                <svg width="17" height="17" viewbox="0 0 17 17" fill="none" xmins="http://www.w3.org/2000/svg">
                    <path
                        d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z"
                        stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>

    </header>
    <p style="text-align: center"><b>VERSÃO ALFA:</b> projeto não finalizado.</p>




    <div></div>
    <img src="user.png" class="foto-perfil">
    <div class="nome-perfil" id="nome"><b>
            Nome do Usuário
        </b></div>
    Curtidas: <label type="number" id="numeroCurtidas">
        X
    </label>




    <div style="margin-top: 1%; margin-bottom: 1%;">
        caso o usuário esteja logado:
        <a href="/editar-perfil/<%= data._id %>" class="btn">Editar Perfil</a>
<form action="/curtir/<%= data.id %>" method="POST">
    <input type="submit" value="Curtir Perfil" class="btn">
</form>

    </div>


    <div style="margin-top: -20%; margin-left: 43%;">
        <p> <b>Instagram: </b> <a href="https://www.instagram.com/<%= data.insta %>/" target="_blank"
                rel="noopener noreferrer">@abc</a> </p>

        <p>
            <b>Sexo:</b>
            helicopter helicopter
        </p>

        <p> <b> Interesses: </b>
            a, b, c.
        </p>

        <p> <b> Nascimento: </b>
            01/01/1000
        </p>

        <b>Biografia:</b>
        <div class="biografia-box">
            <article class="article">
            Informações:
        </article>
    </div>
</div>
        




    <h1></h1>
    <div>
        INFORMAÇÕES DE DIAGNÓSTICO:<br>
        <b> ID: </b>
        id <br>
        <b> Criado em: </b>
        1111
    </div>




    <h1></h1>
    <a href="/interesses/<%= data.id %>">[!] EDITAR TAGS [!]</a>

    <a href="/verify/<%= data.id %>">[@] VER CONSTELAÇÃO [@]</a>

    <style>
        body{
            background-position: 1150px 200px;
        }
    </style>


    <form action="/post/<%= data.id %>" method="POST">
        <h3>CRIAR POST:</h3>

        <div style="display: flex;">
            <img src="user.png" class="foto-perfil">
            <div style="flex: 1; padding-left: 20px;">

                <b>Nome do Usuário Logado</b> - <font color="grey"><i>(Por favor, mantenha o respeito.)</i></font>

                <textarea name="texto" id="texto" coLs="50" rows="4" maxlength="200" oninput="atualizarContador()"
                    style="resize:none; width: 100%; height: 38%;"></textarea>

                <div style="display: flex; align-items: center;">
                    <input type="submit" value="Adicionar" class="btn">
                    <div id="contador" style="padding-left: 2%;"></div>
                </div>

            </div>
        </div>
    </form>

    <div class="star" style="top: 56%; left: 25%;"></div>
    <div class="star" style="top: 24%; left: 68%;"></div>
    <div class="star" style="top: 74%; left: 42%;"></div>
    <div class="star" style="top: 16%; left: 20%;"></div>
    <div class="star" style="top: 37%; left: 40%;"></div>
    <div class="star" style="top: 11%; left: 60%;"></div>
    <div class="star" style="top: 10%; left: 22%;"></div>
    <div class="star" style="top: 5%; left: 95%;"></div>
    <div class="star" style="top: 50%; left: 54%;"></div>
    <div class="star" style="top: 15%; left: 90%;"></div>
    <div class="star" style="top: 30%; left: 10%;"></div>
    <div class="star" style="top: 80%; left: 10%;"></div>
    <div class="star" style="top: 80%; left: 60%;"></div>
    <div class="star" style="top: 12%; left: 34%;"></div>
<div class="star" style="top: 67%; left: 22%;"></div>
<div class="star" style="top: 58%; left: 75%;"></div>
<div class="star" style="top: 9%; left: 49%;"></div>
<div class="star" style="top: 45%; left: 37%;"></div>
<div class="star" style="top: 21%; left: 83%;"></div>
<div class="star" style="top: 4%; left: 12%;"></div>
<div class="star" style="top: 33%; left: 88%;"></div>
<div class="star" style="top: 78%; left: 56%;"></div>
<div class="star" style="top: 25%; left: 92%;"></div>
<div class="star" style="top: 68%; left: 8%;"></div>
<div class="star" style="top: 77%; left: 39%;"></div>
<div class="star" style="top: 83%; left: 69%;"></div>



    <h3>POSTS:</h3>
    <% comentarios2.forEach(comentario => { %>
        <% if (comentario.idResposta === data.id) { %>
            <ul class="publicação-ul">
    
                
                
                <div style="display: flex;">
                    <img src="<%= comentario.imagem %>" class="foto-perfil"> 
                    <div style="flex: 1; padding-left: 20px;" class="container-text">
                        
                        <font color="yellow"> &starf; </font>
                        <b> <%= comentario.assinatura %> </b>
        
                            <div style="resize:none; padding-bottom: 10%; position: relative;">
                                <%= comentario.texto %> 
                            </div>
                            <button class="btn-comentar" onclick="toggleCommentBox('<%= comentario._id %>')">COMENTAR</button>
                    </div>
                    
                    CURTIDAS: <%= comentario.likes.length %>
                    <% if (!comentario.likes.includes(idCookie)) { %>
                        <div>
                            <form action="/curtir-comentario/<%= comentario._id %>?_method=POST" method="POST"></form>
                                <button class="btn-curtir">CURTIR</button>
                            </form>
                        </div>
                        
                    <% } %>
    
    
                    <% if (idCookie == data._id) { %>
                        <div>
                            <form action="/delete-post-user/<%= comentario._id %>?_method=DELETE" method="POST">
                                <button class="btn-apaga">Apagar</button>
                            </form>
                        </div>
                    <% } %>
                </div>
           
                

            <!-- Caixa de Comentário Oculta -->
            <div id="comment-box-<%= comentario._id %>" style="display: none; margin-top: 10px;">
                <form action="/comentar-post/<%= comentario._id %>" method="POST">
                    
                    <textarea name="comentario" rows="3" placeholder="Escreva seu comentário"></textarea>
                    
                    <input type="submit" value="Enviar" class="btn-enviar-comentario">
                </form>
                
            </div>

        </ul>
    <% } %>
<% }) %>
</div> <br>
<script>
    function atualizarContador() { //contador de letras dos comentários!
        var input = document.getElementById('texto');
        var contador = document.getElementById('contador');
        var caracteresRestantes = 250 - input.value.length;
        contador.textContent = "Caracteres restantes: " + caracteresRestantes + "/250";
    };

    function atualizarCurtidas() {
        var numero = document.getElementById('numeroCurtidas');

        numero.textContent = numero + 1;
    }
    function toggleCommentBox(id) {
    var commentBox = document.getElementById('comment-box-' + id);
    if (commentBox.style.display === "none" || commentBox.style.display === "") {
        commentBox.style.display = "block";
    } else {
        commentBox.style.display = "none";
    }
}

</script>

