@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --purple: #b100f7;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

/* body {
  font-family: 'Poppins', sans-serif;
  color: var(--gray-light);
  font-size: var(--font-size-base);
  background-color: #171717;
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
} */

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-light);
  font-size: var(--font-size-base);
  background-color: rgb(13, 2, 38);
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
  background-image: url('https://cdn.dribbble.com/users/518045/screenshots/15443059/media/d3899c81930930b16696c029a0fa613b.png?resize=800x600&vertical=center');
  background-repeat: no-repeat;
  
  background-position: center;
} 

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

a { color: var(--gray-light); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Exibir como bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  transition: transform 0.1s ease; /* Transição suave */
  cursor: pointer; /* Mostrar cursor de ponteiro */
  border-radius: 10px;
}

.btn:hover {
  transform: translateY(2px); /* Abaixar 2 pixels */
  transform: scale(1.05);
}
.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
  background-image: linear-gradient(#ff000d, #b10009);
}


img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
margin-top: 2%;


}

.main {
  padding: 20px 0;
}

/* Hero Section */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 30px;
  margin-top: -6%;
  position: relative; /* Para permitir o uso de elementos posicionados */
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  justify-content: center;
  margin-bottom: -1%;
  grid-area: menu;
  margin-left: 25%;
 
}

.header__logo, .header__nav, .header__button {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
  
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  background-color: #8406b6;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-light);
}

.header__button button:hover {
  border: 2px solid var(--gray-light);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7E7E7E;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

/* Author - HomePage */
.author {
  padding: 3px 5px;
  text-align: center;
  
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* Home Article List */
.articles__heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #fff0f0;
  
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__name {
    text-align: left;
    align-items: start;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}

.article-ul:hover li {
  filter: blur(3px);
}

.article-ul:hover li:hover {
  filter: none;
}


.article {
  white-space: pre-wrap;
}


/* Footer */
.footer {
  margin: 4rem;
  text-align: center;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: #363636;
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}


.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.searchBar input {
  margin: 0;
  border: 0;
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}


.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: #7700a7;
}

.alerta_admin {
  justify-content: center;
  display: flex;
  text-align: center;
}

.foto-perfil {
  max-height: 100px;
  max-width: 100px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: 50%;
  border: 1.9px solid; /* Define a espessura da borda */
  border-color: #b100f7; /* Define a cor roxa da borda */
  }


.banner-perfil {
  max-height: 500px;
  max-width: 1500px;

}

.nome-perfil {
  font-size: var(--font-size-lg);

}

.logo-header {
  max-height: 60px;
  width: 100%;
  max-width: 190px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  position: relative;
}

#HASH {
  display: flex;
  justify-content: space-between;
}

/* Grupos  */


.boxPublicacoes {
  width: 280px;
  height: 140px;
  background-color: #2c2a2a;
  color: #000;
  border: 1.9px solid;
  border-radius: 10px;
  border-color: #b100f7;
  margin-right: 0.7em;
  padding: 0.5em;
  box-shadow: 0px 20px 50px -10px rgba(0,0,0,0.2);
}

.textoBox {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* estamos definindo line-clamp novamente por compatibilidade */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.publicação-ul {
  list-style-type: none;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
  background-color: #2c2a2a;
  border-radius: 10px;
  border: 1.9px solid;
  border-color: #b100f7;
  margin-bottom: 1rem;
  padding: 0.5em;
  height: 200x;
  
}
.publications {
  max-width: 100%;
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 3px;
  overflow-x: auto;

}


.author a.btn {
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; /* Exibir como bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  transition: transform 0.1s ease; /* Transição suave */
  cursor: pointer; /* Mostrar cursor de ponteiro */
  border-radius: 10px;
  margin-bottom: 100px; /* Espaço entre os botões */
}

.author a.btn:hover {
  transform: translateY(2px); /* Abaixar 2 pixels */
}

@keyframes twinkle {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0,5;
  }
}

.star {
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  animation: twinkle 2s infinite;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  z-index: -1;
}
.star-overlay {
  position: fixed; /* Fixa o fundo de estrelas */
  top: 0;
  left: 0;
  width: 100%; /* Cobrir toda a largura da página */
  height: 100%; /* Cobrir toda a altura da página */
  pointer-events: none; /* Impedir que o clique interaja com este fundo */
  background-image: url(''); /* Caminho para o PNG de estrelas */
  background-size: 4%; /* Ajustar a imagem para cobrir a tela */
  background-repeat: no-repeat; /* Não repetir */
  z-index: 1; /* Colocar essa camada sobre outros elementos */
  opacity: 0.7; /* Ajustar a transparência se desejar */
  position: absolute;
  }
  .checkbox-container {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
}

.checkbox-container input[type="checkbox"] {
    display: none; 
}

.checkbox-container label {
    position: relative;
    padding-left: 30px; /* Espaço para o ícone */
    margin-bottom: 15px; /* Espaço entre os labels */
    cursor: pointer;
    color: var(--gray-light);
    font-size: 1rem; /* Ajuste o tamanho da fonte */
    margin-top: 1%;
}

.checkbox-container label::before {
    content: '';
    position: absolute;
    left: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 18px; /* Tamanho do ícone */
    height: 18px; /* Tamanho do ícone */
    border: 2px solid var(--purple);
    border-radius: 4px; /* Canto arredondado */
    background-color: transparent; /* Fundo transparente */
    transition: background-color 0.2s, border-color 0.2s;
    
}

.checkbox-container input[type="checkbox"]:checked + label::before {
    background-color: var(--purple); /* Cor de fundo quando marcado */
    border-color: var(--purple); /* Cor da borda quando marcado */
    
}

.checkbox-container input[type="checkbox"]:checked + label {
    color: var(--purple); /* Muda a cor do texto quando marcado */
    
}
.btn-fim{
  margin-top: -10%;
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 30px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; 
  font-size: 16px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  transform: translateY(2px); 
}


.form-container2 {
  margin-top: 200px; /* Espaço acima do formulário */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos dentro do contêiner do formulário */
  width: 300px; /* Defina a largura do formulário */
  margin-left: 28%;
}

.form-input[type="text"],
.form-input[type="password"],
.form-input[type="submit"] {
  width: 160%; /* Faz com que os campos ocupem toda a largura do contêiner */
  padding: 10px; /* Adiciona espaçamento interno aos campos */
  margin: 10px 0; /* Espaçamento entre os campos */
  border: 1px solid #ccc; /* Borda padrão */
  border-radius: 5px; /* Cantos arredondados */
  
}

.btn-Login {
  margin-top: 0%;
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 50px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  display: inline-block; 
  font-size: 16px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: #7700a7;
  margin-left: 46%;
  
}
.btn-Login:hover{
  transform: translateY(2px); /* Abaixar 2 pixels */
}
.titulo-rede{
 margin-left: 37%;
 margin-top: -15%;
}
.btn-perfil {
  margin-top: 5%;
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 50px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
   
  font-size: 16px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: #7700a7;
  margin-left: 80%;
  
}
.btn-grupos{
  margin-top: 5%;
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 50px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  font-size: 16px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: #7700a7;
  margin-left: -125%;

  
}

.btn-postagens{
  margin-top: 5%;
  background-color: var(--purple);
  background-image: linear-gradient(#cf57ff, #7700a7);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 50px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  font-size: 16px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: #7700a7;
  margin-left: 12%;

}
.btn-postagens:hover{
  transform: translateY(2px); /* Abaixar 2 pixels */
}


.btn-grupos:hover{
  transform: translateY(2px); /* Abaixar 2 pixels */
}
.btn-perfil:hover{
  transform: translateY(2px); /* Abaixar 2 pixels */
}
.btn-curtir{
  margin-top: 170%;
  
  background-color: #4CAF50;
  background-image: linear-gradient(#17971e, #07852c);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 5px 8px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  font-size: 14px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 5px;
  box-shadow: #5d2672;
margin-left: -1025%;

}
.btn-apaga{
  margin-top: 50%;
  
  background-color: var(--purple);
  background-image: linear-gradient(#f80000, #942307);
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 9px 10px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  font-size: 14px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 5px;
  box-shadow: #5d2672;
  margin-left: 25%;
}
.btn-comentar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top: -9px;
  margin-left: -5%;
  border-radius: 5px;
}

#comment-box textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  resize: none;
}

.btn-enviar-comentario {
  background-color: #0e6380;
  color: white;
  border: none;
  padding: 5px 8px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  margin-top: -13px;
  position: absolute;
  border-radius: 5px;
}

.biografia-box {
  background-color: rgba(19, 3, 56, 0.685); /* Cor de fundo leve */
  border: 1px solid #ccc; /* Borda leve */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 60px; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efeito de elevação */
  
  width: 350px; /* Largura padrão inicial, você pode ajustar isso */
  min-width: 200px; /* Largura mínima */
  max-width: 500px; /* Largura máxima */
  margin-top: -30%;
  margin-left: -2%;
  min-height: 150px
}

.article {
  margin: 0; /* Remover margens padrão */
  color: #ffffff; /* Cor do texto */
  font-size: 32px; /* Tamanho da fonte */
  margin-top: -41%;
  margin-right: 10%;
  margin-left: -39%;
}
.btn-deslogar{
 margin-top: -6.5%;
  background-color: #8b080e;
  
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remover sublinhado */
  font-size: 15px; 
  transition: transform 0.1s ease; 
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: #7700a7;
  margin-left: 189%;
  
}
.usuario-index{
font-size: 250%;
}


.contador-caracteres {
  font-size: 12px;
  color: #666;
  text-align: right;
  margin-bottom: 10px;
}

.btn-enviar-comentario {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -0.6%;
 
}
.estert{
 font-size: 200%;
 margin-left: 0%;
}
 .sobre-nos{
  margin-top: 10%;
  font-size: 500%;
 }
